.nav {
    grid-area: nav;
    background-color: burlywood;
    padding: 30px;

}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: gold;
}
.classForFriends{
    padding-top: 100px;
    color: blue;
    font-size: 45px;
}
.friendsWrapper{
    display: flex;
    padding: 10px;
}
