
.app-wrapper {
    display: grid;
    grid-template-areas:
            "header header"
            "nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.header {
    grid-area: header;
    background-color: #61dafb;
}
.header img{
    width: 60px;
    border-radius: 30px;
    padding-top: 3px;
}

.nav {
    grid-area: nav;
    background-color: burlywood;
}

.content {
    grid-area: content;
    background-color: cadetblue;
}
