
.dialogs{
    display: grid;
    grid-template-columns: 1fr 6fr;

}
.dialogItems{
padding: 10px;
}
.dialog img{
    height: 50px;
    border-radius: 30px;
}
.dialog a {
    text-decoration: none;
}
.dialog a.active{
    color:gold;
}
.messages{
    padding: 10px;
}
.message{

}
